html, body {
  background: #f9f9f9;
  color: #0d0d0d;
  font-family: "Lato", helvetica, serif;
  font-size: 18px;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;

}


/* Typography */

h1 {
  font-size: 27px;
  font-weight: 800;
  line-height: 39px;
  margin: 0;
}

h2 {
  font-size: 27px;
  font-weight: 400;
  line-height: 39px;
  padding-bottom: 26px;
  margin: 0;
}

h3 {
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  margin: 0;
  padding-bottom: 26px;
}

h4 {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  margin: 0;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  padding-bottom: 26px;
}

figcaption {
  font-weight: 800;
  line-height: 26px;
  padding-bottom: 104px;
  padding-top: 13px;
  margin: 0;
}

.large {
  font-size: 27px;
  line-height: 39px;
  margin: 0;
}

.large-type {
  font-size: 27px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 39px;
}

.logo {
  font-weight: 900;
  line-height: 26px;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.small-type {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

.small-type-bold {
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  margin: 0;
  padding-bottom: 26px;
}

/* span.light{
  font-weight: 300;
} */

.name {
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  margin: 0;
}


/* Elements */

figure {
  clear: both;
  margin: 0;
}

footer {
  padding-bottom: 0px;
}

header {
  margin-bottom: 26px;
}

hgroup {
  /*padding-bottom: 26px;*/
}

hr {
  border: 0;
  margin: 0;

}

.thin {
  border: 0;
  border-top: 1px solid #c2c2c2;
  padding-top: 26px;
}

.thick {
  border: 0;
  border-top: 13px solid #c2c2c2;
  padding-top: 26px;
}

img {
  background-size: contain;
  width: 100%;
  display:block;
  height: auto;
}

section {
  margin-bottom: 78px;
}


/* Lists */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


li {
  padding-bottom: 13px;
  margin: 0;
}

ul li a {
  border-bottom: 1px solid #0d0d0d;
  color: #0d0d0d;
  cursor: pointer;
  text-decoration: none;
}

ul li a:hover {
  border-bottom: 3px solid #0d0d0d;
}

/* ul li a:active {
  border-bottom: 3px solid #0d0d0d;
} */

.navigation {
  margin: 0;
  padding: 0 0 26px 0;
  list-style: none;
}

.navigation-items {
  display: inline;
  padding-bottom: 13px;
  margin: 0;
  padding-right: 20px;
}

nav {
  margin-top: 26px;
  margin-bottom: 26px;
}


/* Interaction */

.active a {
    /* font-weight: 800; */
    border-bottom: 3px solid #0d0d0d;
}

a:focus {
  outline: 3px solid transparent;
  color: #0d0d0d;
  background-color: #06f99d;
  -webkit-box-shadow: 0 -2px #06f99d,0 3px #0d0d0d;
  box-shadow: 0 -2px #06f99d,0 3px #0d0d0d;
  text-decoration: none;
}

a.button-home-black {
  color: #0d0d0d;
  cursor: pointer;
  padding-bottom: 52px;
  padding-top: 52px;
  padding-left: 52px;
  padding-right: 52px;
  text-decoration: none;
}

.flex:hover {
  background: #95b2a4;
}

.flex:focus {
  background: #95b2a4;
  outline-style: none;
  outline-width: 0px;
}

.button {
    background-color: #0d0d0d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

h1 a{
  border-bottom: 1px solid #0d0d0d;
  color: #131313;
  text-decoration: none;
}

h1 a:hover {
  border-bottom: 3px solid #0d0d0d;
}

h2 a {
  border-bottom: 1px solid #0d0d0d;
  color: #131313;
  text-decoration: none;
}

h2 a:hover {
  border-bottom: 3px solid #0d0d0d;
}

h3 a {
  border-bottom: 1px solid #0d0d0d;
  color: #131313;
  text-decoration: none;
}

h3 a:hover {
  border-bottom: 3px solid #0d0d0d;
}

/* accessible */
input:hover
select:focus


.logo a {
  text-decoration: none;
}

p a {
  border-bottom: 1px solid #0d0d0d;
  color: #131313;
  text-decoration: none;
}

p a:hover {
  border-bottom: 3px solid #0d0d0d;
}




/* Layout */

.baselinex0 {
  padding-bottom: 0px;
}

.baselinex05 {
  padding-bottom: 13px;
}

.baselinex1 {
  padding-bottom: 26px;
}

.baselinex2 {
  padding-bottom: 52px;
}

.baselinex4 {
  padding-bottom: 104px;
}

.button-group {
  display: block;
}

.embed-container {
  clear: both;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 0px;
  position: relative;
  padding-bottom: 56.25%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.flex {
  border: 1px solid #0d0d0d;
  transition: all 0.3s ease 0s;
}

.flex-1 {
  border-bottom: none;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  order: 1;
}

.flex-2 {
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  order: 2;
}

.flex-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.flex-wrapper > * {
  align-items: center;
  display: flex;
  flex: 1 auto;
  flex-flow: row wrap;
  justify-content: center;
}

.footer-item {
  float: right;
}

.footer-title {
  padding-bottom: 26px;
}

.image {
  background: #fff;
  margin: 0 auto;
  padding: 20px;
}

.image-group {
  margin-bottom: 76px;
}

.padding-bottom {
  padding-bottom: 26px;
}

.list-block {
  margin-bottom: 0;
}

.margin0{
  margin-bottom: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-top {
  padding-top: 0;
}

.section-title {
  padding-bottom: 26px;
}

.text-block {
  margin-bottom: 78px
}


/* Colour */

.black {
  color: #131313;
}

.grey {
  color: #666;
}

.white {
  color: #fff;
}


/* Media */

@media all and (min-width: 700px) {

  h1 {
    font-size: 36px;
    line-height: 52px;
  }

  h2 {
    font-size: 36px;
    line-height: 52px;
  }

  .flex {
    border: 1px solid #0d0d0d;
  }

  .flex-1 {
    border-right: none;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 0px;
    margin-top: 40px;
    order: 1;

  }

  .flex-2 {
    margin-bottom: 40px;
    margin-right: 40px;
    margin-left: 0px;
    margin-top: 40px;
    order: 2;
  }

  .flex-wrapper {
    flex: 1 auto;
    flex-direction: row;
    justify-content: center;
  }

  .image {
    padding: 40px;
  }

  .large {
    font-size: 36px;
    line-height: 52px;
    margin: 0;
  }

  .large-type-thick {
font-weight: 800;
    font-size: 36px;
    line-height: 52px;
    margin: 0;
  }

  .large-type {
    font-size: 52px;
    line-height: 52px;
    padding-bottom: 26px;
  }

  .xlarge-type-thick {
    font-weight: 800;
    font-size: 52px;
    line-height: 65px;
    padding-bottom: 52px;
  }

  .navigation {
    margin: 0;
    padding: 0 0 26px 0;
    list-style: none;
  }

  .horizontal-list {
    padding-bottom: 13px;
    margin: 0;
    display: inline;
    padding-right: 15px;
  }

  /*ul.large {
    margin: 0;
  }*/

  /*h3.large-type {
    padding-bottom: 26px;
  }*/
}
